<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="CCOREAutomation.CCore_Catalogue_Products"/>
      <class name="CCOREAutomation.CCore_Analytics_TVProgramGuide"/>
      <class name="CCOREAutomation.CCore_CallCenterTools_Pilot"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
